Repository jmerilainen/primo: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit, eslint, prettier --write

wip
  README.md
Due: prettier --write

Update readme
  README.md
Due: prettier --write

Bumb `node` to 16
  Dockerfile
  package.json
Due: none

Update actions
  .github/dependabot.yml
  .github/workflows/run-cypress.yml
  .github/workflows/run-tests.yml
Due: none

wip
  .github/workflows/run-cypress.yml
Due: none

Update `package.json`
  package.json
  yarn.lock
Due: none

Streamline GitHub actions
  .github/workflows/run-cypress.yml
  .github/workflows/run-tests.yml
  .github/workflows/tests.yml
Due: none

Do deployment via GitHub actions
  .github/workflows/deployment.yml
Due: none

Fix action premissions
  .github/workflows/deployment.yml
Due: none

wip
  .github/workflows/deployment.yml
Due: none

wip
  .github/workflows/ci.yml
Due: none

Format
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  docker-compose.local.yml
  src/lib/metno.ts
  webpack.config.js
Due: tsc-files --noEmit, eslint, prettier --write

Add prettier configs to eslint
  .eslintrc.js
  package.json
  yarn.lock
Due: none

Add style lint
  .stylelintrc.json
  package.json
  yarn.lock
Due: none

Add stylelint to lint-staged
  .lintstagedrc.json
Due: none

Format
  src/App.tsx
  src/components/Backdrop.tsx
  src/components/Modal.tsx
  src/components/SpaceBackground.tsx
  src/components/Time.tsx
  src/components/Weather.tsx
  src/components/WeatherItem.tsx
  src/index.css
Due: tsc-files --noEmit, eslint, prettier --write

Merge
  yarn.lock
Due: none

Merge
  package.json
Due: none

Use `stylelint-prettier/recommended` for auto config
  .stylelintrc.json
Due: none

Add section about stylelint
  README.md
  package.json
Due: prettier --write

Add `eslint-plugin-react-hooks`
  .eslintrc.js
  package.json
  yarn.lock
Due: none

Add `eslint-plugin-import`
  .eslintrc.js
  package.json
  yarn.lock
Due: none

Lint
  src/App.tsx
  src/hooks/useFetch.ts
  src/hooks/useGeolocation.ts
Due: tsc-files --noEmit, eslint, prettier --write

Run eslint auto fix for staged
  .lintstagedrc.json
Due: none

Add `eslint-plugin-jest`
  .eslintrc.js
  package.json
  yarn.lock
Due: none

Use just `plugin:cypress/recommended`
  cypress/.eslintrc.js
Due: none

Add `eslint-plugin-jsx-a11y`
  .eslintrc.js
  package.json
Due: none

Add `@axe-core/react`
  package.json
  src/index.tsx
  yarn.lock
Due: tsc-files --noEmit, eslint, prettier --write

Fix lint errors
  src/App.tsx
Due: tsc-files --noEmit, eslint, prettier --write

Add section about Accessibility
  README.md
Due: prettier --write

Run `axe` tests on Cypress
  README.md
  cypress/integration/a11y_spec.ts
  cypress/plugins/index.js
  cypress/support/index.js
  cypress/tsconfig.json
  package.json
  yarn.lock
Due: tsc-files --noEmit, eslint, prettier --write

Tweak `Deploy` trigger
  .github/workflows/ci.yml
Due: none

Add license
  package.json
Due: none

Improve scripts
  .gitignore
  package.json
Due: none

Path conditions:
  tsc-files --noEmit: any of: *.{ts,tsx}
  eslint: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.md)
